{% extends 'home_page/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}
    <link href="/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Sweet Alert -->
    <link href="/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <!-- DataTables -->
    <link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 
    

{% endblock %}
        
{% block breadcrumbItem %}
{# <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li> #}
{# <li class="breadcrumb-item"><a href="javascript:void(0);">{{smartMod.name}}</a></li> #}
{# <li class="breadcrumb-item active">Home</li> #}
{% endblock %}

{% block pageTitle %}
{# ST-DIGITAL Technical Monitoring web portal #}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-4"> </div>
    <div class="col-4">
        <div class="row">
            {% for site in sites %}
            <div class="col">
                <a href="#">
                    <div class="card crm-data-card bg-soft-pink">
                        <div class="card-header text-center bg-soft-pink">
                            <p class="text-white font-weight-bold mb-0">{{site.name}}</p>
                        </div>
                        <div class="card-body text-center"> 
                            <div class="data-icon">
                                <i class="mdi mdi-office-building bg-soft-pink rounded-circle"></i>
                            </div>
                            
                        </div><!--end card-body--> 
                    </div><!--end card--> 
                </a>
            </div>
            {% endfor %}
        
        </div>
    </div>
    <div class="col-4"> </div>

</div>

{% endblock %}

{% block javascripts %}
    

    
{% endblock %}