<footer class="footer text-center text-sm-left">
    &copy; 2021 My Generator Clever Energy <span class="text-muted d-none d-sm-inline-block float-right"></span>
</footer><!--end footer-->
{#  Developed by Pascal ALHADOUM  #}