<footer class="footer text-center text-sm-left">
    <div class="boxed-footer">
        &copy; 2021 ST-DIGITAL Power Monitoring web portal <span class="text-muted d-none d-sm-inline-block float-right">Developed by Clever Electric Technologies</span>
        {# &copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span> #}
    </div>
</footer><!--end footer-->