{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block breadcrumbItem %}
<li class="breadcrumb-item active"><a href="javascript:void(0);">New</a></li>
<li class="breadcrumb-item"><a href="javascript:void(0);">Contact</a></li>
{# <li class="breadcrumb-item ">Dashboard</li> #}
{% endblock %}

{% block pageTitle %}Contact{% endblock %}

{% block body %}
    <h1>Create new Contact</h1>

    {{ include('contacts/_form.html.twig') }}

    {# <a href="{{ path('contacts_index') }}">back to list</a> #}
{% endblock %}

{% block javascripts %}
{# <script src="/js/product.js"></script> #}
<script>
    $('#saveBtn').click(function(){
        //block of code that runs when the click event triggers
        $(this).children('i').addClass('d-none');
        $(this).children('span').removeClass('d-none');
        //$('#saveBtn').prop('disabled', true);
    });
    
</script>

{% endblock %}
